.modalButtonContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.content {
  width: 95vw;
  height: auto;

  color: var(--color-dark-blue);

  display: flex;
}

.content .offersContent {
  margin-left: max(270px, 22%);
  margin-right: 20px;
  margin-top: 40px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.content .offersContent h1 {
  width: 100%;
  text-align: left;
}

.content .offersContent .newOfferButton {
  background-color: var(--color-green);
  width: 180px;
  height: 42px;
  border: 0;
  border-radius: 8px;
  margin: 20px 40px;
  align-self: flex-end;

  font-size: 18px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content .offersContent .newOfferButton:hover {
  background-color: #28b8a0;
}


.content .offersContent table {
  width: 95%;

  overflow: hidden;
  border-radius: 25px 25px 0 0;
  border: none;
  border-spacing: 0;

  color: var(--color-dark-blue);
  font-weight: bold;
}

.content .offersContent table .tableHeader {
  background-color: var(--color-dark-blue);
  color: #fff;
  height: 42px;
}

.content .offersContent table .tableData {
  height: 42px;
}

.content .offersContent table .tableData td {
  padding: 5px 0;
  
}

.content .offersContent table .tableData .actionContainer {
  display: flex;
  justify-content: center;
}